#footer {
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: #212529 !important;
  color: white;
  position: relative;
  height: 4rem;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

#footer.div {
  vertical-align: center;
}

#footer > * {
  margin: 0.3em 0;
}

#footer.a {
  color: white;
}

#legal {
  margin-top: 1em;
}
